extends layout

block content
  h1= title
  p Welcome to #{title}
  table
    thead
      tr
        th Name
        th Running
    tbody
      each p in processes
        tr
          td= p.name
          if p.proc && p.proc.running
            td Running
          else
            td Stopped
  form(method='POST')
    label(for='pname') Name
    input(name='pname', type='text')
    input(type='submit') Add 
  
